<nav id="menuBar" class="boxEffect clearfix">
	<ul></ul>
</nav>

<div id="masthead" class="boxEffect big">
	<h1 id="logo">thefrontend.co</h1>
	<h2 id="tagline">The Jobsite for Web Developers</h2>
	<input type="text" id="search" class="text" name="search" value="Search Jobs" data-val="Search Jobs">
	<ul id="homeInfoButtons">
		<li><a href="#who" class="who">Who</a></li>
		<li class="sep">|</li>
		<li><a href="#what" class="what">What</a></li>
		<li class="sep">|</li>
		<li><a href="#why" class="why">Why</a></li>
	</ul>
</div>

<section id="homeInfoPanel" class="boxEffect big"></section>