<div id="masthead">
	<h1 id="logo">thefrontend.co</h1>
	<h2 id="tagline">The Jobsite for Web Developers</h2>
	<input type="text" id="search" name="search" value="Search Jobs">
	<ul id="homeInfoButtons">
		<li><a href="#who" id="who">Who</a></li>
		<li class="sep">|</li>
		<li><a href="#" id="what">What</a></li>
		<li class="sep">|</li>
		<li><a href="#" id="why">Why</a></li>
	</ul>
</div>

<section id="homeInfoPanel"></section>

<section id="jobs"></section>