<p>The frontend.co is built and maintained by:</p>
<p><a href="http://uk.linkedin.com/in/chrisfinch" target="_blank">Chris Finch</a><span class="role">Frontend &amp; Founder.</span></p>
<p><a href="http://uk.linkedin.com/pub/ben-constable/35/879/136" target="_blank">Ben Constable</a><span class="role">Backend.</span></p>
