<nav id="menuBar" class="boxEffect clearfix">
  <ul></ul>
</nav>

<section id="addEditJob" class="boxEffect container clearfix">

	<h2>Add a Job</h2>

	<form id="addJobForm">
		<select name="type" id="type" class="type">
			<option value="0">Type of Job</option>
			<option value="contract">Contract</option>
			<option value="perm">Permenant</option>
		</select>

		<input name="title" id="title" type="text" class="text" value="Job Title" data-val="Job Title">

		<input name="company" id="company" type="text" class="text" value="Company" data-val="Company">

		<input name="salary" id="salary" type="text" class="text" value="Salary" data-val="Salary">

		<textarea name="description" id="description" class="text" data-val="Description">Description</textarea>

		<input type="submit" class="button" value="Add this Job">

	</form><!-- #new-job -->

</section>