<h2>Create a new Job</h2>

<form id="new-job">
  <p>
	<label for="new-job-title">Title</label>
	<input name="new-job-title" id="new-job-title" type="text">
  </p>
  <textarea name="new-job-content" id="new-job-content"></textarea>
  <p>
	<label for="new-job-keywords">Keywords</label>
	<input name="new-job-keywords" id="new-job-keywords" type="text">
  </p>  
  <input type="submit">
</form><!-- #new-job -->

<hr>

<% _.each(jobs, function (job) { %>

  <div class="job">

    <form id="<%= job._id %>" class="edit">

      <input type="text" name="title" value="<%= job.title %>" /> 
      <textarea name="description"><%= job.description %></textarea>
      <textarea name="keywords"><%= job.keywords %></textarea>

      <button type="submit" class="remove-job">Remove Job</button>
      <button type="submit" class="update-job">Update Job</button>

    </form>

  </div><!-- .job -->
  <hr>
<% }); %>