<h2>Create a new Job</h2>

<form id="new-job">
  <p>
    <label for="new-job-title">Title</label>
    <input name="new-job-title" id="new-job-title" type="text">
  </p>
  <textarea name="new-job-content" id="new-job-content"></textarea>
  <input type="submit">
</form><!-- #new-job -->

<hr>

<% for (var i = 0, len = jobs.models.length; i < len; i++) { %>
  <div class="job">
    <h3><%= jobs.models[i].get('title') %></h3>
    <p><%= jobs.models[i].get('content') %></p>
    <p><a href="#" class="remove-job" id="<%= jobs.models[i].get('id') %>">Remove Job</a></p>
  </div><!-- .job -->
  <hr>
<% } %>