<section id="single">

	<h1 class="title"><%= job.title %></h1>

	<h2 class="company"><%= job.company %></h2>

	<span class="tags"><%= job.tags %></span>

	<p class="desc"><%= job.description %></p>

</section>