<!-- Sign In bar Module -->
<li id="signIn">
	<button class="signInButton button">Sign In</button>

	<div id="signInForm" class="boxEffect hover clearfix hidden">
		
		<form action="">
			<input type="text" id="username" class="text" value="Username" data-val="Username">
			<input type="text" id="password" class="text" value="Password" data-val="Password">
			<input type="submit" id="submit" class="submit button" value="Sign In">
		</form>

	</div>

</li>