<!-- Sign In bar Module -->
<li id="signIn">
	<button class="signInButton">Sign In</button>

	<div id="signInForm">
		
		<form action="">
			<input type="text" id="username" class="text" value="Username">
			<input type="password" id="password" class="text" value="Passwordb">
			<input type="submit" id="submit" class="submit button">
		</form>

	</div>

</li>