<section class="searchResultsWrapper">

	<nav id="menuBar" class="boxEffect clearfix">
		<ul>
			<li id="searchField">
				<label for="search">Show me:</label>
				<input type="text" id="search" class="text" name="search" value="<%= query %>" data-val="<%= query %>">			

			</li>
		</ul>
	</nav>	

	<ul id="searchResults" class="boxEffect">
	</ul>

</section>